

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  font-weight: 400;
  color: #7d9eb5;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  background: url("https://i.imgur.com/kcin1vP.jpg");
  background-position: center;
  background-size: cover;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  #h3 {
    font-size: 30px;

    @include respond(tab-land) {
      font-size: 3rem;
      color: #28465d;
      -webkit-text-stroke: 0.5px white;
    }
    @include respond(tab-port) {
      font-size: 2.5rem;
      text-align: center;
      color: #28465d;
    }
    @include respond(phone) {
      font-size: 2rem;
      line-height: 1.5;
      color: #28465d;
      -webkit-text-stroke: 0.5px white;
    }
    @include respond(phone-xs) {
      font-size: 2rem;
      color: #28465d;
    }
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
      margin-bottom: 2rem;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }
  }

  .hero-text {
    color: #28465d;
   
    font-weight: 900;
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}


